@model Department
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-info">Create New Department</h1>
<br />
<br />
<form action="/Department/Create" method="post">
    
    <partial name="PartialView/CreateEditDepartmentPartial" />

    <input type="submit" value="Create" class="btn btn-primary" /> - <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ScriptValidations {
    <partial name="_ValidationScriptsPartial" />

}
 
