@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="SendResetPasswordEmail">
			<h3 class="text-white">Enter your email.</h3>
			<hr />

			<input class="text  email hamada" asp-for ="Email" placeholder="Email" required="">
			<input type="submit" value="Send Email">
		</form>
		<p> you don't have an Account? <a asp-action="SignUp">Register Now!</a></p>
		<p> <a asp-action="ForgetPassword">Forget Your Password?</a></p>


	</div>
</div>
