@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text hamada" asp-for="NewPassword" name="password" placeholder="New Password" required="">
			<input class="text hamada" asp-for="ConfirmPassword" name="confirmpassword" placeholder="ConfirmPassword" required="">
			<input type="submit" value="Submit">
		</form>
		<p>Do you have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ScriptValidations {
	<partial name="_ValidationScriptsPartial" />

}

